--- Day 1: Sonar Sweep ---
You're minding your own business on a ship at sea when the overboard alarm goes off! You rush to see if you can help. Apparently, one of the Elves tripped and accidentally sent the sleigh keys flying into the ocean!

Before you know it, you're inside a submarine the Elves keep ready for situations like this. It's covered in Christmas lights (because of course it is), and it even has an experimental antenna that should be able to track the keys if you can boost its signal strength high enough; there's a little meter that indicates the antenna's signal strength by displaying 0-50 stars.

Your instincts tell you that in order to save Christmas, you'll need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

As the submarine drops below the surface of the ocean, it automatically performs a sonar sweep of the nearby sea floor. On a small screen, the sonar sweep report (your puzzle input) appears: each line is a measurement of the sea floor depth as the sweep looks further and further away from the submarine.

For example, suppose you had the following report:

199
200
208
210
200
207
240
269
260
263
This report indicates that, scanning outward from the submarine, the sonar sweep found depths of 199, 200, 208, 210, and so on.

The first order of business is to figure out how quickly the depth increases, just so you know what you're dealing with - you never know if the keys will get carried into deeper water by an ocean current or a fish or something.

To do this, count the number of times a depth measurement increases from the previous measurement. (There is no measurement before the first measurement.) In the example above, the changes are as follows:

199 (N/A - no previous measurement)
200 (increased)
208 (increased)
210 (increased)
200 (decreased)
207 (increased)
240 (increased)
269 (increased)
260 (decreased)
263 (increased)
In this example, there are 7 measurements that are larger than the previous measurement.

How many measurements are larger than the previous measurement?

In [1]:
import pandas as pd

In [13]:
df1a = pd.read_excel('1.xlsx', header=None)
df1a.head()

     0
0  187
1  195
2  199
3  218
4  221

In [17]:
list_a = df1a[0].tolist()
list_a[0:5]

[187, 195, 199, 218, 221]

In [33]:
#x - count increases
#a - supporting variable
x=0
for a in range(1,len(list_a)):
    if (list_a[a] - list_a[a-1]) > 0:
        x += 1
    
print('Answer: ', x)

Answer:  1665

--- Part Two ---
Considering every single measurement isn't as useful as you expected: there's just too much noise in the data.

Instead, consider sums of a three-measurement sliding window. Again considering the above example:

199  A      
200  A B    
208  A B C  
210    B C D
200  E   C D
207  E F   D
240  E F G  
269    F G H
260      G H
263        H
Start by comparing the first and second three-measurement windows. The measurements in the first window are marked A (199, 200, 208); their sum is 199 + 200 + 208 = 607. The second window is marked B (200, 208, 210); its sum is 618. The sum of measurements in the second window is larger than the sum of the first, so this first comparison increased.

Your goal now is to count the number of times the sum of measurements in this sliding window increases from the previous sum. So, compare A with B, then compare B with C, then C with D, and so on. Stop when there aren't enough measurements left to create a new three-measurement sum.

In the above example, the sum of each three-measurement window is as follows:

A: 607 (N/A - no previous sum)
B: 618 (increased)
C: 618 (no change)
D: 617 (decreased)
E: 647 (increased)
F: 716 (increased)
G: 769 (increased)
H: 792 (increased)
In this example, there are 5 sums that are larger than the previous sum.

Consider sums of a three-measurement sliding window. How many sums are larger than the previous sum?

In [16]:
df1b = df1a.copy()

In [20]:
list_b = df1b[0].tolist()
list_b[0:5]

[187, 195, 199, 218, 221]

In [32]:
#x - count increases
#a - supporting variable
x=0
for a in range(len(list_b)-3):
    if (list_b[a+3] - list_b[a]) > 0:
        x += 1
        
print('Answer: ', x)

Answer:  1702

--- Day 2: Dive! ---
Keywords: pivot table, array navigation, loops
Now, you need to figure out how to pilot this thing.

It seems like the submarine can take a series of commands like forward 1, down 2, or up 3:

forward X increases the horizontal position by X units.
down X increases the depth by X units.
up X decreases the depth by X units.
Note that since you're on a submarine, down and up affect your depth, and so they have the opposite result of what you might expect.

The submarine seems to already have a planned course (your puzzle input). You should probably figure out where it's going. For example:

forward 5
down 5
forward 8
up 3
down 8
forward 2
Your horizontal position and depth both start at 0. The steps above would then modify them as follows:

forward 5 adds 5 to your horizontal position, a total of 5.
down 5 adds 5 to your depth, resulting in a value of 5.
forward 8 adds 8 to your horizontal position, a total of 13.
up 3 decreases your depth by 3, resulting in a value of 2.
down 8 adds 8 to your depth, resulting in a value of 10.
forward 2 adds 2 to your horizontal position, a total of 15.
After following these instructions, you would have a horizontal position of 15 and a depth of 10. (Multiplying these together produces 150.)

Calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

In [85]:
import pandas as pd
df2a = pd.read_excel('2.xlsx', header=None)
df2a.head()

           0
0  forward 3
1     down 9
2  forward 6
3     down 3
4  forward 8

In [86]:
df2a[['Dir','Dist']] = df2a[0].str.split(expand = True)
df2a['Dist'] = df2a['Dist'].astype(int)
df2a.drop(axis = 1, labels = 0, inplace = True)
df2a.head()

       Dir  Dist
0  forward     3
1     down     9
2  forward     6
3     down     3
4  forward     8

In [97]:
df2a_2 = df2a.groupby('Dir')['Dist'].sum()
df2a_2

Dir
down       1930
forward    2063
up          925
Name: Dist, dtype: int64

In [98]:
print('Answer: ',(df2a_2['down'] - df2a_2['up'])*df2a_2['forward'])

Answer:  2073315

--- Part Two ---
Based on your calculations, the planned course doesn't seem to make any sense. You find the submarine manual and discover that the process is actually slightly more complicated.

In addition to horizontal position and depth, you'll also need to track a third value, aim, which also starts at 0. The commands also mean something entirely different than you first thought:

down X increases your aim by X units.
up X decreases your aim by X units.
forward X does two things:
It increases your horizontal position by X units.
It increases your depth by your aim multiplied by X.
Again note that since you're on a submarine, down and up do the opposite of what you might expect: "down" means aiming in the positive direction.

Now, the above example does something different:

forward 5 adds 5 to your horizontal position, a total of 5. Because your aim is 0, your depth does not change.
down 5 adds 5 to your aim, resulting in a value of 5.
forward 8 adds 8 to your horizontal position, a total of 13. Because your aim is 5, your depth increases by 8*5=40.
up 3 decreases your aim by 3, resulting in a value of 2.
down 8 adds 8 to your aim, resulting in a value of 10.
forward 2 adds 2 to your horizontal position, a total of 15. Because your aim is 10, your depth increases by 2*10=20 to a total of 60.
After following these new instructions, you would have a horizontal position of 15 and a depth of 60. (Multiplying these produces 900.)

Using this new interpretation of the commands, calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

In [99]:
df2b = df2a.copy()

In [100]:
df2b.head()

       Dir  Dist
0  forward     3
1     down     9
2  forward     6
3     down     3
4  forward     8

In [104]:
#d - current depth position
#h - current horizontal position
#a - current aim
#x - supporting variable

d = 0
h = 0
a = 0
for x in range(len(df2b)):
    if df2b['Dir'][x] == 'forward':
        h += df2b['Dist'][x]
        d += a*df2b['Dist'][x]
    elif df2b['Dir'][x] == 'down':
        a += df2b['Dist'][x]
    else:
        a -= df2b['Dist'][x]
        
print('Answer: ', h*d)

Answer:  1840311528

--- Day 3: Binary Diagnostic ---
The submarine has been making some odd creaking noises, so you ask it to produce a diagnostic report just in case.

The diagnostic report (your puzzle input) consists of a list of binary numbers which, when decoded properly, can tell you many useful things about the conditions of the submarine. The first parameter to check is the power consumption.

You need to use the binary numbers in the diagnostic report to generate two new binary numbers (called the gamma rate and the epsilon rate). The power consumption can then be found by multiplying the gamma rate by the epsilon rate.

Each bit in the gamma rate can be determined by finding the most common bit in the corresponding position of all numbers in the diagnostic report. For example, given the following diagnostic report:

00100
11110
10110
10111
10101
01111
00111
11100
10000
11001
00010
01010
Considering only the first bit of each number, there are five 0 bits and seven 1 bits. Since the most common bit is 1, the first bit of the gamma rate is 1.

The most common second bit of the numbers in the diagnostic report is 0, so the second bit of the gamma rate is 0.

The most common value of the third, fourth, and fifth bits are 1, 1, and 0, respectively, and so the final three bits of the gamma rate are 110.

So, the gamma rate is the binary number 10110, or 22 in decimal.

The epsilon rate is calculated in a similar way; rather than use the most common bit, the least common bit from each position is used. So, the epsilon rate is 01001, or 9 in decimal. Multiplying the gamma rate (22) by the epsilon rate (9) produces the power consumption, 198.

Use the binary numbers in your diagnostic report to calculate the gamma rate and epsilon rate, then multiply them together. What is the power consumption of the submarine? (Be sure to represent your answer in decimal, not binary.)

In [1]:
import pandas as pd
df3a = pd.read_csv('3.txt', header=None, names = ['Input'], converters={"Input": lambda x: str(x)})
df3a.head()

          Input
0  111011110101
1  011000111010
2  100000010010
3  000111100110
4  110011111011

In [198]:
#gamma - gamma rate
#epsilon - epsilon rate
#a - supporting variable
gamma = ""
epsilon = ""
for a in range(len(df3a["Input"][0])):
    gamma += df3a["Input"].str[a:a+1].value_counts().index[0]
    epsilon += df3a["Input"].str[a:a+1].value_counts().index[1]

print('Answer: ', str(int(gamma,2) * int(epsilon,2)))

Answer:  693486

--- Part Two ---
Next, you should verify the life support rating, which can be determined by multiplying the oxygen generator rating by the CO2 scrubber rating.

Both the oxygen generator rating and the CO2 scrubber rating are values that can be found in your diagnostic report - finding them is the tricky part. Both values are located using a similar process that involves filtering out values until only one remains. Before searching for either rating value, start with the full list of binary numbers from your diagnostic report and consider just the first bit of those numbers. Then:

Keep only numbers selected by the bit criteria for the type of rating value for which you are searching. Discard numbers which do not match the bit criteria.
If you only have one number left, stop; this is the rating value for which you are searching.
Otherwise, repeat the process, considering the next bit to the right.
The bit criteria depends on which type of rating value you want to find:

To find oxygen generator rating, determine the most common value (0 or 1) in the current bit position, and keep only numbers with that bit in that position. If 0 and 1 are equally common, keep values with a 1 in the position being considered.
To find CO2 scrubber rating, determine the least common value (0 or 1) in the current bit position, and keep only numbers with that bit in that position. If 0 and 1 are equally common, keep values with a 0 in the position being considered.
For example, to determine the oxygen generator rating value using the same example diagnostic report from above:

Start with all 12 numbers and consider only the first bit of each number. There are more 1 bits (7) than 0 bits (5), so keep only the 7 numbers with a 1 in the first position: 11110, 10110, 10111, 10101, 11100, 10000, and 11001.
Then, consider the second bit of the 7 remaining numbers: there are more 0 bits (4) than 1 bits (3), so keep only the 4 numbers with a 0 in the second position: 10110, 10111, 10101, and 10000.
In the third position, three of the four numbers have a 1, so keep those three: 10110, 10111, and 10101.
In the fourth position, two of the three numbers have a 1, so keep those two: 10110 and 10111.
In the fifth position, there are an equal number of 0 bits and 1 bits (one each). So, to find the oxygen generator rating, keep the number with a 1 in that position: 10111.
As there is only one number left, stop; the oxygen generator rating is 10111, or 23 in decimal.
Then, to determine the CO2 scrubber rating value from the same example above:

Start again with all 12 numbers and consider only the first bit of each number. There are fewer 0 bits (5) than 1 bits (7), so keep only the 5 numbers with a 0 in the first position: 00100, 01111, 00111, 00010, and 01010.
Then, consider the second bit of the 5 remaining numbers: there are fewer 1 bits (2) than 0 bits (3), so keep only the 2 numbers with a 1 in the second position: 01111 and 01010.
In the third position, there are an equal number of 0 bits and 1 bits (one each). So, to find the CO2 scrubber rating, keep the number with a 0 in that position: 01010.
As there is only one number left, stop; the CO2 scrubber rating is 01010, or 10 in decimal.
Finally, to find the life support rating, multiply the oxygen generator rating (23) by the CO2 scrubber rating (10) to get 230.

Use the binary numbers in your diagnostic report to calculate the oxygen generator rating and CO2 scrubber rating, then multiply them together. What is the life support rating of the submarine? (Be sure to represent your answer in decimal, not binary.)

In [2]:
df3b = df3a.copy()
df3b.head()

          Input
0  111011110101
1  011000111010
2  100000010010
3  000111100110
4  110011111011

In [104]:
df3b_2 = df3b.copy()

In [103]:
#b - most/least common binary 
#a - supporting variable

df3b_2 = df3b.copy()
while True:
    for a in range(12):
        if df3b_2["Input"].str[a:a+1].value_counts()[0] == df3b_2.shape[0]/2:
            b = "1"
        else:
            b = df3b_2["Input"].str[a:a+1].value_counts().index[0]       
        df3b_2 = df3b_2[df3b_2["Input"].str[a:a+1] == b]
        if df3b_2.shape[0] == 1:
            break
    break
            
df3b_3 = df3b.copy()
while True:
    for a in range(12):
        if df3b_3["Input"].str[a:a+1].value_counts()[0] == df3b_3.shape[0]/2:
            df3b_4 = df3b_3.copy()
            b = "0"
        else:
            b = df3b_3["Input"].str[a:a+1].value_counts().index[1]
        df3b_3 = df3b_3[df3b_3["Input"].str[a:a+1] == b]
        if df3b_3.shape[0] == 1:
            break
    break
    
print("Oxygen generator rating: ", df3b_2.reset_index(drop = True)['Input'][0])
print("CO2 scrubber rating: ", df3b_3.reset_index(drop = True)['Input'][0])
print("Answer: ", int(df3b_2.reset_index(drop = True)['Input'][0],2)*int(df3b_3.reset_index(drop = True)['Input'][0],2))

Oxygen generator rating:  001110100101
CO2 scrubber rating:  111000100110
Answer:  3379326

--- Day 4: Giant Squid ---
You're already almost 1.5km (almost a mile) below the surface of the ocean, already so deep that you can't see any sunlight. What you can see, however, is a giant squid that has attached itself to the outside of your submarine.

Maybe it wants to play bingo?

Bingo is played on a set of boards each consisting of a 5x5 grid of numbers. Numbers are chosen at random, and the chosen number is marked on all boards on which it appears. (Numbers may not appear on all boards.) If all numbers in any row or any column of a board are marked, that board wins. (Diagonals don't count.)

The submarine has a bingo subsystem to help passengers (currently, you and the giant squid) pass the time. It automatically generates a random order in which to draw numbers and a random set of boards (your puzzle input). For example:

7,4,9,5,11,17,23,2,0,14,21,24,10,16,13,6,15,25,12,22,18,20,8,19,3,26,1

22 13 17 11  0
 8  2 23  4 24
21  9 14 16  7
 6 10  3 18  5
 1 12 20 15 19

 3 15  0  2 22
 9 18 13 17  5
19  8  7 25 23
20 11 10 24  4
14 21 16 12  6

14 21 17 24  4
10 16 15  9 19
18  8 23 26 20
22 11 13  6  5
 2  0 12  3  7
After the first five numbers are drawn (7, 4, 9, 5, and 11), there are no winners, but the boards are marked as follows (shown here adjacent to each other to save space):

22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
After the next six numbers are drawn (17, 23, 2, 0, 14, and 21), there are still no winners:

22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
Finally, 24 is drawn:

22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
At this point, the third board wins because it has at least one complete row or column of marked numbers (in this case, the entire top row is marked: 14 21 17 24 4).

The score of the winning board can now be calculated. Start by finding the sum of all unmarked numbers on that board; in this case, the sum is 188. Then, multiply that sum by the number that was just called when the board won, 24, to get the final score, 188 * 24 = 4512.

To guarantee victory against the giant squid, figure out which board will win first. What will your final score be if you choose that board?

In [130]:
import pandas as pd
df4a = pd.read_csv('4.txt', header=None, dtype = str)
df4a.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,30,35,8,2,39,37,72,7,81,41,...,36,50,60,11,27,10,5,16,92,38
1,94 97 41 22 48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 47 72 23 26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12 81 86 24 91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,71 78 90 59 54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
#list_r - list of drawn numbers
list_r = df4a.iloc[0]
#.astype(int)

In [188]:
list_r

0     30
1     35
2      8
3      2
4     39
      ..
95    10
96     5
97    16
98    92
99    38
Name: 0, Length: 100, dtype: object

In [181]:
#df4a_2 - dataframe storing each table as a line
df4a_2 = pd.DataFrame(columns = range(25), index = range(100))
for a in range(int(df4a.iloc[1:,0].shape[0]/5)):
    for b in range (0,5):
        for c in range (0,5):
            df4a_2.iloc[a,5*b+c] = df4a.iloc[1:,0][5*a+b+1].split()[c]
df4a_2.head()
df4a_2.shape

(100, 25)

In [241]:
#df4a_3 - dataframe where hits will be stored
df4a_3 = df4a_2.copy()
for i in range(len(list_r)): #drawing new number
    df4a_3.replace(list_r[i], True, inplace = True)
    for j in range(df4a_2.shape[0]): #checking each board      
        for b in range (5): #checking columns
            if df4a_3.iloc[j,b] == df4a_3.iloc[j,b+5] == df4a_3.iloc[j,b+10] == df4a_3.iloc[j,b+15] == df4a_3.iloc[j,b+20] == True:
                print("Winner - ","number: ", i, "board: ", j, "col: ", b)
                break
        for a in range (5): #checking rows
            if df4a_3.iloc[j,5*a] == df4a_3.iloc[j,5*a+1] == df4a_3.iloc[j,5*a+2] == df4a_3.iloc[j,5*a+3] == df4a_3.iloc[j,5*a+4] == True:
                print("Winner - ","number: ", i, "board: ", j, "row: ", b)
                break        
        else:
            continue
        break 
    else:
        continue
    break

Winner -  number:  27 board:  37 col:  1
Winner -  number:  28 board:  37 col:  1
Winner -  number:  28 board:  46 col:  0
Winner -  number:  29 board:  37 col:  1
Winner -  number:  29 board:  46 col:  0
Winner -  number:  30 board:  37 col:  1
Winner -  number:  30 board:  46 col:  0
Winner -  number:  31 board:  37 col:  1
Winner -  number:  31 board:  46 col:  0
Winner -  number:  32 board:  37 col:  1
Winner -  number:  32 board:  46 col:  0
Winner -  number:  33 board:  37 col:  1
Winner -  number:  33 board:  46 col:  0
Winner -  number:  34 board:  1 row:  4

In [227]:
#df4a_3 - dataframe where hits will be stored
df4a_3 = df4a_2.copy()
for i in range(len(list_r)): #drawing new number
    df4a_3.replace(list_r[i], True, inplace = True)
    for j in range(df4a_2.shape[0]): #checking each board      
        for a in range (5): #checking rows
            if df4a_3.iloc[j,5*a] == df4a_3.iloc[j,5*a+1] == df4a_3.iloc[j,5*a+2] == df4a_3.iloc[j,5*a+3] == df4a_3.iloc[j,5*a+4] == True:
                print("Winner: ", "a", i, j, a)
                break          
        for b in range (5): #checking columns
            if df4a_3.iloc[j,b] == df4a_3.iloc[j,b+5] == df4a_3.iloc[j,b+10] == df4a_3.iloc[j,b+15] == df4a_3.iloc[j,b+20] == True:
                print("Winner: ", "b","numer: ", i, j, b)
                break        
        else:
            continue
        break 
    else:
        continue
    break

Winner:  b numer:  27 37 1

In [205]:
df4a_3.iloc[37]

0       60
1     True
2       55
3       19
4       47
5       97
6     True
7     True
8       52
9     True
10      50
11    True
12      29
13      36
14      58
15      77
16    True
17      21
18      49
19      40
20      87
21    True
22    True
23      31
24      27
Name: 37, dtype: object

In [122]:
df4a_3.iloc[0, 0] == df4a_3.iloc[0, 1] == True

True