--- Day 5: Hydrothermal Venture ---
You come across a field of hydrothermal vents on the ocean floor! These vents constantly produce large, opaque clouds, so it would be best to avoid them if possible.

They tend to form in lines; the submarine helpfully produces a list of nearby lines of vents (your puzzle input) for you to review. For example:

0,9 -> 5,9
8,0 -> 0,8
9,4 -> 3,4
2,2 -> 2,1
7,0 -> 7,4
6,4 -> 2,0
0,9 -> 2,9
3,4 -> 1,4
0,0 -> 8,8
5,5 -> 8,2
Each line of vents is given as a line segment in the format x1,y1 -> x2,y2 where x1,y1 are the coordinates of one end the line segment and x2,y2 are the coordinates of the other end. These line segments include the points at both ends. In other words:

An entry like 1,1 -> 1,3 covers points 1,1, 1,2, and 1,3.
An entry like 9,7 -> 7,7 covers points 9,7, 8,7, and 7,7.
For now, only consider horizontal and vertical lines: lines where either x1 = x2 or y1 = y2.

So, the horizontal and vertical lines from the above list would produce the following diagram:

.......1..
..1....1..
..1....1..
.......1..
.112111211
..........
..........
..........
..........
222111....
In this diagram, the top left corner is 0,0 and the bottom right corner is 9,9. Each position is shown as the number of lines which cover that point or . if no line covers that point. The top-left pair of 1s, for example, comes from 2,2 -> 2,1; the very bottom row is formed by the overlapping lines 0,9 -> 5,9 and 0,9 -> 2,9.

To avoid the most dangerous areas, you need to determine the number of points where at least two lines overlap. In the above example, this is anywhere in the diagram with a 2 or larger - a total of 5 points.

Consider only horizontal and vertical lines. At how many points do at least two lines overlap?

In [1]:
import pandas as pd

#df1 - dataframe storing coordinates
df1 = pd.read_csv('5.txt', header=None, names=['x1', 'y1', 'x2', 'y2'], sep=' -> |,', engine ='python')
df1.head()

    x1   y1   x2   y2
0  720  475  720  669
1  268  784  595  784
2  163  778  149  778
3  856  917  856  114
4  929  964  433  964

In [11]:
#df2 - dataframe storing Hydrothermal Venture locations
df2 = pd.DataFrame(index=range(0,df1.max().max()), columns=range(0,df1.max().max()), data = 0)

In [68]:
#df2 - dataframe storing Hydrothermal Venture locations
df2 = pd.DataFrame(index=range(0,df1.max().max()), columns=range(0,df1.max().max()), data = 0)
#i - supporting variable
for i in range(len(df1)):
    if df1['x1'][i] == df1['x2'][i]:
        y_min = min(df1['y1'][i], df1['y2'][i])
        y_max = max(df1['y1'][i], df1['y2'][i])+1
        df2.iloc[df1['x1'][i], y_min:y_max] = df2.iloc[df1['x1'][i], y_min:y_max].add(1)
    elif df1['y1'][i] == df1['y2'][i]:
        x_min = min(df1['x1'][i], df1['x2'][i])
        x_max = max(df1['x1'][i], df1['x2'][i])+1
        df2.iloc[x_min:x_max, df1['y1'][i]] = df2.iloc[x_min:x_max, df1['y1'][i]].add(1)
print('Answer: ', df2[df2>1].count().sum())

Answer:  7269

--- Part Two ---
Unfortunately, considering only horizontal and vertical lines doesn't give you the full picture; you need to also consider diagonal lines.

Because of the limits of the hydrothermal vent mapping system, the lines in your list will only ever be horizontal, vertical, or a diagonal line at exactly 45 degrees. In other words:

An entry like 1,1 -> 3,3 covers points 1,1, 2,2, and 3,3.
An entry like 9,7 -> 7,9 covers points 9,7, 8,8, and 7,9.
Considering all lines from the above example would now produce the following diagram:

1.1....11.
.111...2..
..2.1.111.
...1.2.2..
.112313211
...1.2....
..1...1...
.1.....1..
1.......1.
222111....
You still need to determine the number of points where at least two lines overlap. In the above example, this is still anywhere in the diagram with a 2 or larger - now a total of 12 points.

Consider all of the lines. At how many points do at least two lines overlap?

In [72]:
#df3 - dataframe storing Hydrothermal Venture locations
df3 = pd.DataFrame(index=range(0,df1.max().max()), columns=range(0,df1.max().max()), data = 0)

#i, j - supporting variable
#y_min, x_min - the lower values coordinates
#y_max, x_max - the higher values of coordinate - to those we need to add 1, because this side of range is excluded - <min,max)
#x_dir, y_dir - defines the directions for the loop - if the diagonal is from bottom right to upper left of bottom left to upper right.
#x, y - temp variables for x, y coordinates
for i in range(len(df1)):
    if df1['x1'][i] == df1['x2'][i] or df1['y1'][i] == df1['y2'][i]:
        y_min = min(df1['y1'][i], df1['y2'][i])
        y_max = max(df1['y1'][i], df1['y2'][i])+1
        x_min = min(df1['x1'][i], df1['x2'][i])
        x_max = max(df1['x1'][i], df1['x2'][i])+1        
        df3.iloc[x_min:x_max, y_min:y_max] = df3.iloc[x_min:x_max, y_min:y_max].add(1)
    else:
        x_dir = (df1['x2'][i] - df1['x1'][i]) / abs(df1['x2'][i] - df1['x1'][i])
        y_dir = (df1['y2'][i] - df1['y1'][i]) / abs(df1['y2'][i] - df1['y1'][i])
        for j in range(abs(df1['x2'][i]-df1['x1'][i])+1):
            x = int(df1['x1'][i] + j * x_dir)
            y = int(df1['y1'][i] + j * y_dir)
            df3.iloc[x, y] = df3.iloc[x, y]+1
print('Answer: ', df3[df3>1].count().sum())

Answer:  21140

In [102]:
# #df3 - dataframe storing Hydrothermal Venture locations
# df3 = pd.DataFrame(index=range(0,df1.max().max()), columns=range(0,df1.max().max()), data = 0)

# #i, j - supporting variable
# #y_min, x_min - the lower values coordinates
# #y_max, x_max - the higher values of coordinate - to those we need to add 1, because this side of range is excluded - <min,max)
# #x_dir, y_dir - defines the directions for the loop - if the diagonal is from bottom right to upper left of bottom left to upper right.
# #x, y - temp variables for x, y coordinates
# for i in range(len(df1)):
#     if df1['x1'][i] == df1['x2'][i] or df1['y1'][i] == df1['y2'][i]:
#         y_min = min(df1['y1'][i], df1['y2'][i])
#         y_max = max(df1['y1'][i], df1['y2'][i])+1
#         x_min = min(df1['x1'][i], df1['x2'][i])
#         x_max = max(df1['x1'][i], df1['x2'][i])+1        
#         df3.iloc[x_min:x_max, y_min:y_max] = df3.iloc[x_min:x_max, y_min:y_max].add(1)
#     else:
#         x_dir = int((df1['x2'][i] - df1['x1'][i]) / abs(df1['x2'][i] - df1['x1'][i]))
#         y_dir = int((df1['y2'][i] - df1['y1'][i]) / abs(df1['y2'][i] - df1['y1'][i]))
#         for x, y in zip(range(df1['x1'][i], df1['x2'][i], x_dir), range(df1['y1'][i], df1['y2'][i], y_dir)):
#             #print('x')
#             df3.iloc[x, y] = df3.iloc[x, y]+1
# print('Answer: ', df3[df3>1].count().sum())

Answer:  21113