--- Day 4: Giant Squid ---
You're already almost 1.5km (almost a mile) below the surface of the ocean, already so deep that you can't see any sunlight. What you can see, however, is a giant squid that has attached itself to the outside of your submarine.

Maybe it wants to play bingo?

Bingo is played on a set of boards each consisting of a 5x5 grid of numbers. Numbers are chosen at random, and the chosen number is marked on all boards on which it appears. (Numbers may not appear on all boards.) If all numbers in any row or any column of a board are marked, that board wins. (Diagonals don't count.)

The submarine has a bingo subsystem to help passengers (currently, you and the giant squid) pass the time. It automatically generates a random order in which to draw numbers and a random set of boards (your puzzle input). For example:

7,4,9,5,11,17,23,2,0,14,21,24,10,16,13,6,15,25,12,22,18,20,8,19,3,26,1

22 13 17 11  0
 8  2 23  4 24
21  9 14 16  7
 6 10  3 18  5
 1 12 20 15 19

 3 15  0  2 22
 9 18 13 17  5
19  8  7 25 23
20 11 10 24  4
14 21 16 12  6

14 21 17 24  4
10 16 15  9 19
18  8 23 26 20
22 11 13  6  5
 2  0 12  3  7
After the first five numbers are drawn (7, 4, 9, 5, and 11), there are no winners, but the boards are marked as follows (shown here adjacent to each other to save space):

22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
After the next six numbers are drawn (17, 23, 2, 0, 14, and 21), there are still no winners:

22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
Finally, 24 is drawn:

22 13 17 11  0         3 15  0  2 22        14 21 17 24  4
 8  2 23  4 24         9 18 13 17  5        10 16 15  9 19
21  9 14 16  7        19  8  7 25 23        18  8 23 26 20
 6 10  3 18  5        20 11 10 24  4        22 11 13  6  5
 1 12 20 15 19        14 21 16 12  6         2  0 12  3  7
At this point, the third board wins because it has at least one complete row or column of marked numbers (in this case, the entire top row is marked: 14 21 17 24 4).

The score of the winning board can now be calculated. Start by finding the sum of all unmarked numbers on that board; in this case, the sum is 188. Then, multiply that sum by the number that was just called when the board won, 24, to get the final score, 188 * 24 = 4512.

To guarantee victory against the giant squid, figure out which board will win first. What will your final score be if you choose that board?

In [2]:
import pandas as pd
df4a = pd.read_csv('4.txt', header=None, dtype = str)
df4a.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,30,35,8,2,39,37,72,7,81,41,...,36,50,60,11,27,10,5,16,92,38
1,94 97 41 22 48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21 47 72 23 26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12 81 86 24 91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,71 78 90 59 54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#list_r - list of drawn numbers
list_r = df4a.iloc[0]
#.astype(int)

In [4]:
list_r

0     30
1     35
2      8
3      2
4     39
      ..
95    10
96     5
97    16
98    92
99    38
Name: 0, Length: 100, dtype: object

In [ ]:
#df4a_2 - dataframe storing each table as a line
df4a_2 = pd.DataFrame(columns = range(25), index = range(100))
for a in range(int(df4a.iloc[1:,0].shape[0]/5)):
    for b in range (0,5):
        for c in range (0,5):
            df4a_2.iloc[a,5*b+c] = df4a.iloc[1:,0][5*a+b+1].split()[c]
df4a_2.head()

In [35]:
#df4a_3 - dataframe where hits will be stored
df4a_3 = df4a_2.copy()
for i in range(len(list_r)): #drawing new number
    df4a_3.replace(list_r[i], True, inplace = True)
    for j in range(df4a_2.shape[0]): #checking each board      
        for a in range (5): #checking rows
            if df4a_3.iloc[j,5*a] == df4a_3.iloc[j,5*a+1] == df4a_3.iloc[j,5*a+2] == df4a_3.iloc[j,5*a+3] == df4a_3.iloc[j,5*a+4] \
            or df4a_3.iloc[j,a] == df4a_3.iloc[j,a+5] == df4a_3.iloc[j,a+10] == df4a_3.iloc[j,a+15] == df4a_3.iloc[j,a+20]:
                break                 
        else:
            continue
        break 
    else:
        continue
    break
    
print("Answer: ", df4a_3.iloc[j][df4a_3.iloc[j] != True].astype(int).sum()*int(list_r[i]))

Answer:  54275

--- Part Two ---
On the other hand, it might be wise to try a different strategy: let the giant squid win.

You aren't sure how many bingo boards a giant squid could play at once, so rather than waste time counting its arms, the safe thing to do is to figure out which board will win last and choose that one. That way, no matter which boards it picks, it will win for sure.

In the above example, the second board is the last to win, which happens after 13 is eventually called and its middle column is completely marked. If you were to keep playing until this point, the second board would have a sum of unmarked numbers equal to 148 for a final score of 148 * 13 = 1924.

Figure out which board will win last. Once it wins, what would its final score be?

In [60]:
#df4a_4 - dataframe where hits will be stored
#boards - list of boards that already won
df4a_4 = df4a_2.copy()
boards = []
for i in range(len(list_r)): #drawing new number
    df4a_4.replace(list_r[i], True, inplace = True)
    for j in range(df4a_2.shape[0]): #checking each board      
        for a in range (5): #checking rows
            if df4a_4.iloc[j,5*a] == df4a_4.iloc[j,5*a+1] == df4a_4.iloc[j,5*a+2] == df4a_4.iloc[j,5*a+3] == df4a_4.iloc[j,5*a+4] \
            or df4a_4.iloc[j,a] == df4a_4.iloc[j,a+5] == df4a_4.iloc[j,a+10] == df4a_4.iloc[j,a+15] == df4a_4.iloc[j,a+20]:
                boards.append(j) if j not in boards else boards
            if len(boards) == 100:
                break
        else:
            continue
        break 
    else:
        continue
    break
    
print("Answer: ", df4a_4.iloc[boards[-1]][df4a_4.iloc[boards[-1]] != True].astype(int).sum()*int(list_r[i]))

80
Answer:  13158